<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>About 😎</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"></p>
<div style = "margin-left: 25px;">
<font size="+1">

  Hi, I am Xing Liu (刘星). Welcome to my cyber home!

  <br>
  <br>

  I'm an engineer interested in Security and Data. At <a href="https://www.verizonmedia.com/">Verizon Media</a>/Oath/<a href="https://www.yahoo.com/">Yahoo!</a> (yes they are all the same company),
  I mainly working on Baltar: a classifier which throw <a href="https://www.google.com/recaptcha/about/">reCAPTCHA</a> to bots and bad users.

  <br>
  <br>

  Prior to Verizon Media, I interned at Yahoo! and worked on <a href="https://mail.yahoo.com/">Yahoo! mail</a> security protocal,
  and interned at <a href="https://www.verizonmedia.com/">Douban (豆瓣)</a> and worked on <a href="https://fm.douban.com/">DoubanFM</a>'s recommender system.
  I'm also a <a href="https://www.rice.edu/">Rice University</a> and <a href="https://www.tsinghua.edu.cn/en/">Tsinghua University</a> alumni.

  <br>
  <br>

  During my pastime, I enjoy reading, riding a motorcycle, playing basketball, and video games.

  <br>
  <br>

  I'm working on this website and trying to include all my projects and posts. I will finish it, someday. Thank you for being here;-)

</font>
</div>

<br>
<hr>
