<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>About 😎</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"></p>
<div style = "margin-left: 25px;">
<font size="+1">

  Hi, I am Xing Liu (刘星). Welcome to my cyber home!

  <br>
  <br>

  I'm an engineer interested in LLM Serving Efficiency. Currently working at <a href="https://www.google.com/">Google</a>, working on Google Shopping's LLM serving and optimization.

  <br>
  <br>

</font>
</div>

<br>
<hr>
