<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>About 😎</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"></p>
<div style = "margin-left: 25px;" class="text-white">
<font size="+1">

  Hi, my name is Xing Liu. I'm a software engineer working at <a href="https://www.verizonmedia.com/">Verizon Media</a>. I love computer security, it feels like having war with cyber enemies on daily basis,
  which is my current job. I protect millions of customers' account.

  <br>
  <br>

  I am also a motorcyclist.

</font>
</div>

<br>
<hr>
